
* {
    -fx-font-family: sans-serif;
}

.button, .radio-button {
    -fx-pref-width: 200;
    -fx-background-color: #CCCCFF;
    -fx-background-radius: 10;
    -fx-font-size: 15;
    -fx-cursor: hand;
    -fx-opacity: 0.8;
}

.button:hover, .radio-button:hover {
    -fx-background-color: #99CCFF;
}

.button:pressed, .radio-button:pressed {
    -fx-background-color: #66CCFF;
}

.fxml_title {
    /*-fx-background-color: #00ff00;*/
    -fx-font-size: 20;
    /*-fx-font-family: sans-serif;*/
}

.frameBPane {
    -fx-padding: 10;
}

.label {
    -fx-font-size: 16;
}

.visibleLabel {
    -fx-min-width: 30;
    -fx-background-color: #FF9933;
    -fx-background-radius: 0;
    -fx-alignment: center;
}

.successLabel {
    -fx-pref-width: 120;
    -fx-pref-height: 30;
    -fx-cursor: null;
    -fx-background-color: #33CC33;
    -fx-background-radius: 0;
    -fx-alignment: center;
}

.failureLabel {
    -fx-pref-width: 120;
    -fx-pref-height: 30;
    -fx-cursor: null;
    -fx-background-color: #CC3300;
    -fx-background-radius: 0;
    -fx-alignment: center;
}

.originLabel {
    -fx-pref-width: 120;
    -fx-pref-height: 30;
    -fx-cursor: null;
    -fx-background-color: #C0C0C0;
    -fx-background-radius: 0;
    -fx-alignment: center;
}